{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<div class="card-deck">
    <div class="col-md-6 col-md-3 col-lg-2 d-flex">
    <div class="card-body text-center" >
    <img class="card-img-top" src="{% static 'assets/img/emp/add-male.png' %}" alt="Card image" style="width:50px; height: 50px;">   
      <h4 class="card-title">موظف جديد</h4>
      <p class="card-text">Some example text.</p>
    </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="card-body text-center">
        <img class="card-img-top" src="{% static 'assets/img/emp/add-male.png' %}" alt="Card image" style="width:50px; height: 50px;">   
          <h4 class="card-title">موظف جديد</h4>
          <p class="card-text">Some example text.</p>
        </div>
        </div>
        <div class="card" style="width:50px; height: 150px;">
            <div class="card-body text-center">
            <img class="card-img-top" src="{% static 'assets/img/emp/add-male.png' %}" alt="Card image" style="width:50px; height: 50px;">   
              <h4 class="card-title">موظف جديد</h4>
              <p class="card-text">Some example text.</p>
            </div>
            </div>
            <div class="card" style="width:200px; height: 200px;">
                <div class="card-body text-center">
                <img class="card-img-top" src="{% static 'assets/img/emp/add-male.png' %}" alt="Card image" style="width:100px; height: 100px;">   
                  <h4 class="card-title">موظف جديد</h4>
                  <p class="card-text">Some example text.</p>
                </div>
                </div>    
</div>
<!-- card group-->
  <div class="card-deck">
    <div class="card bg-primary">
      <div class="card-body text-center">
        
        <p class="card-text">Some text inside the first card</p>
        <p class="card-text">Some more text to increase the height</p>
        <p class="card-text">Some more text to increase the height</p>
        <p class="card-text">Some more text to increase the height</p>
      </div>
    </div>
    <div class="card bg-warning">
      <div class="card-body text-center">
        <img class="card-img-top" src="{% static 'assets/img/emp/add-male.png' %}" alt="Card image" style="width:100px; height: 100px;"> 
        <p class="card-text">Some text inside the second card</p>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
    </div>
    <div class="card bg-success">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the third card</p>
      </div>
    </div>
    <div class="card bg-danger">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the fourth card</p>
      </div>
    </div>  
  </div>
</div>

<!-- new card style-->
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}