{% extends "base_settings.html" %}
{% block title %}Settings - Branch {% endblock %}

{% block content%}
			<!-- Page Wrapper <div class="page-wrapper"> -->

			

				<!-- Page Content -->
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">Department</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href={% url 'index' %}>Dashboard</a></li>
									<li class="breadcrumb-item active">Department</li>
								</ul>
							</div>
							<div class="col-auto float-right ml-auto">
								<button href="#" class="btn add-btn" data-toggle="modal" data-target="#add_department"><i class="fa fa-plus"></i> Add Department</a> </button>
								<a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_department"><i class="fa fa-plus"></i> Add Department</a>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-md-12">
							<div>
								<table class="table table-striped custom-table mb-0 datatable">
									<thead >
										<tr>
											<th style="width: 30px; font-weight: bold;">#</th>
											<th style="font-weight: bold">رقم القطاع</th>
											<th style="font-weight: bold">اسم القطاع</th>
											<th style="font-weight: bold">رقم الفرع</th>
											
											<th class="text-right" style="font-weight: bold">خصائص</th>
										</tr>
									</thead>
									<tbody>
										{% for item in dept %}
										<tr>
											<td>{{item.dept_id}}</td>
											<td>{{item.dept_name}}</td>
											<td>{{item.branch}}</td>
			
											<td>{{forloop.counter}}</td>
											<td class="text-right">
                                            <div class="dropdown dropdown-action">
													<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_department"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_department"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
												</div>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>

	<!-- Add Department Modal -->
	<div id="add_department" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Department</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form method="post" id="add_dept_form"> {% csrf_token %}
						<div class="form-group">
							<div class="form-group text-right" >
								<label>اسم الفرع<span class="text-danger">*</span></label>
								<input class="form-control text-right" type="text" value="" name="branch_name" id="id_branch_name">
							</div>
							<div class="form-group text-right">
								<label>الموقع <span class="text-danger">*</span></label>
								<input class="form-control text-right" type="text" value="" name="branch_location" id="id_branch_location">
							</div>
							<div class="form-group text-right">
								<label>المدينة <span class="text-danger">*</span></label>
								<select class="form-control select"  name="city" id="id_city">
									{% for item in form.city %}
									<option>{{item}}</option>           
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="submit-section">
							<button class="btn btn-primary submit-btn">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Add Department Modal -->




	<!-- Edit Department Modal -->
				<div id="edit_department" class="modal custom-modal fade" role="dialog">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Edit Department</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								{% include 'settings/branch_edit.html' %}
		
								
							</div>
						</div>
					</div>
				</div>
	<!-- /Edit Department Modal -->

	<!-- Delete Department Modal -->
				<div class="modal custom-modal fade" id="delete_department" role="dialog">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-body">
								{% include 'settings/branch_delete.html' %}
								
							</div>
						</div>
					</div>
				</div>
	<!-- /Delete Department Modal -->


     </div>
	<!-- /Page Content -->


<!-- /Page Wrapper -->
{% endblock %}


 




